body {
  font-family: Arial, sans-serif;
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
    overflow: hidden;
    background-color: #e71818; 
  
}

.select-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f1f1f1;
  border-bottom: 1px solid #ccc;
  overflow-x: auto; 
}
.select-w{
  display:flex ;
  justify-content: space-between;
  width: 1000px;
  border: 1px solid rgb(209, 200, 200);
  padding: 20px;
}
.select-pc{
  display:grid ;
  
}
.select-vc{
  display:grid ;
}
.select-p , .select-cl , .select-v , .select-ch {
 display: flex;
 margin-top: 5px;
 margin-bottom: 5px;
}
label[for="poleSelect"] , label[for="clientSelect"] , label[for="villeSelect"] ,label[for="siteSelect"]{
  color: rgb(58, 143, 208); 
  font-weight: bold; 
  font-size: 14px; 
  margin-right: 80px;
  width: 20px;

}
.pole-select{
  width: 200px;
}
.cvc-select{
  width:350px;
}
.header-title {
  text-align: center;
  font-weight: bolder;
  margin: 0;
  background-color: #f1f1f1;
}
.pcvc-title{
  margin: 0;
  font-weight: bold;
}
.period-container{
  width: 450px
}
.button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.button-container button {
  border: 1px solid rgb(95, 94, 94) ;
  background-color: #d8d7d7;
  border-radius: 5px;
  margin-right: 7px;
  
}
.period-select{
  display: flex;
  justify-content: space-between;
  border: 1px solid rgb(209, 200, 200);
  padding: 15px;

}
.select-pe {
  width: 300px;
  margin-right: 30px;
}
label[for="periodSelect"] {
  color:red ;
  font-weight: bold;
}
.period-title{
  margin:0;
  font-weight: bolder;
  color:red ;

}
.table-container th,td{
  border :1px solid #a6a4a4 ;
}

tr:nth-child(even) {
  background-color: #d2cece;
}
tr:nth-child(odd) {
  background-color: #f1f1f1;
}
.table-c{
  background-color: #f1f1f1;
  
}
.print-button {
  font-weight: bold;
  cursor: pointer;

}
.beach-button{
  color: rgb(52, 152, 240);
 cursor: pointer;

}
.umbrella-button{
  color: rgb(240, 52, 52);
 cursor: pointer;

}
.consolider-button{
  font-weight: bold;
 cursor: pointer;
}
.falock{
 color:rgb(176, 176, 5);
}
.faPrint{
  color: rgb(0, 155, 28);
}
.table-container {
  overflow-x: auto; 
  overflow-y: auto;
  max-height: auto; 
  width: 100%;
}
.table-container thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}






